<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    
    <header>Members Only</header>
    <a href="/login"><button>Login</button></a>
    <a href="/sign-up"><button>Sign-Up</button></a>
    <ol>
    <% messages.forEach(element => { %>
        <li>
            <strong><%= element.displayName %></strong>: 
            <%= element.message %> 
            <br>
            <small><%= element.created_at.toLocaleString() %></small>
        </li>
    <% }) %>
</ol>
</body>
</html>